    <div class="single_comment-comment" id="comment-{{ comment.id }}">
        <div class="comment-icon">
            <div class="avatar">{{ comment.author.name|slice(0, 1) }}</div>
        </div>
        <div class="comment-content">
            <h5 class="comment-author">{{ comment.author.name }}</h5>
            <p class="comment-date">{{ comment.date }} o {{ comment.time }}</p>
            {{ comment.content }}
            <div class="comment-reply">
                {{ function('comment_reply_link', commentReplyArgs, comment.ID, post.ID) }}
            </div>
        </div>
    </div>
    {% if comment.children %}
        <div class="replies"> 
            {% for child_comment in comment.children %}
                {% include 'views/components/comments/comment.twig' with { comment:child_comment } %}
            {% endfor %}
        </div> 
    {% endif %}  