<div id="{{ block.id }}" class="polecane-karmy {{ block.className }}" data-easygut-id="polecanekarmy">
	<div class="container">
		<h2>{{ fields.title }}</h2>
		<div class="row">
			{% for post in posts %}
				<div class="col-md-6">
					<div class="polecane-karmy__item">
						<a href="{{ post.link }}">{{ post.title }}</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>