<div id="{{ block.id }}" class="karmy-posts {{ block.className }}" data-easygut-id="karmyposts">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>{{ fields.title }}</h2>
				<p>{{ fields.subtitle }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h5>{{ fields.posts_text }}</h5>
			</div>
		</div>
	</div>
	<div class="container">
		{% if posts|length < 6 %}
			<div class="row karmy_posts-desktop">
			{% for post in posts %}
				<div class="col-12 col-md-4 col-lg-2">
					{% if post.thumbnail.src %}
						<div class="karmy-posts__img">
							<a href="{{ post.link }}">
								<img data-src="{{ post.thumbnail.src  }}" src="{{ post.thumbnail.src }}"/>
							</a>
						</div>
					{% endif %}
					<div class="karmy-posts__content" style="margin-bottom: 60px;">
						<a class="title" href="{{ post.link }}">{{ post.title }}</a>
					</div>
				</div>
			{% endfor %}
			</div>
			<div class="row karmy_posts-row-mobile">
				<div class="col-xs-12 related-articles-row" style="display: flex;overflow-x: auto;">
					{% for post in posts %}
						<div class="col-md-2 related-article">
							{% if post.thumbnail.src %}
								<div class="karmy-posts__img">
									<a href="{{ post.link }}">
										<img data-src="{{ post.thumbnail.src  }}" src="{{ post.thumbnail.src }}"/>
									</a>
								</div>
							{% endif %}
							<div class="karmy-posts__content" style="margin-bottom: 60px;">
								<a class="title" href="{{ post.link }}">{{ post.title }}</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% else %}
		<section class="karmy_posts-desktop">
		
			<div id="carousel-example-multi{{block.id}}" class="carousel slide carousel-multi-item v-2 product-carousel" data-ride="carousel">
		
				<!--Controls-->
				<div class="controls-top">
				<a class="btn-floating prev" href="#carousel-example-multi{{block.id}}" data-slide="prev"><svg width="12" height="15" viewBox="0 0 12 15">
					<path d="M1.20299 6.67523C0.623607 7.07245 0.623608 7.92755 1.20299 8.32477L10.4345 14.654C11.0981 15.1089 12 14.6338 12 13.8292L12 1.17082C12 0.366228 11.0981 -0.108923 10.4345 0.346048L1.20299 6.67523Z" fill="#EBEBEB"/>
					</svg></a>
				<a class="btn-floating next" href="#carousel-example-multi{{block.id}}" data-slide="next"><svg width="12" height="15" viewBox="0 0 12 15">
					<path d="M10.797 6.67523C11.3764 7.07245 11.3764 7.92755 10.797 8.32477L1.56546 14.654C0.901859 15.1089 0 14.6338 0 13.8292L0 1.17082C0 0.366228 0.901861 -0.108923 1.56547 0.346048L10.797 6.67523Z" fill="#EBEBEB"/>
					</svg></a>
				</div>
				<!--/.Controls-->
				<div class="carousel-inner" role="listbox">
				{% for post in posts %}
				{% if loop.first %}
				<div class="carousel-item active {{ loop.index }}">
				{% else %}
				<div class="carousel-item {{ loop.index }}">
				{% endif %}
					<div class="col-12 col-md-4 col-lg-2 mx-auto">
					{% if post.thumbnail.src %}
						<div class="karmy-posts__img">
							<a href="{{ post.link }}">
								<img data-src="{{ post.thumbnail.src  }}" src="{{ post.thumbnail.src }}"/>
							</a>
						</div>
					{% endif %}
					<div class="karmy-posts__content">
						<a class="title" href="{{ post.link }}">{{ post.title }}</a>
					</div>
					</div>
				</div>
				{% endfor %}
		
				</div>
				
			</div>
		
		</section>
		<div class="row karmy_posts-row-mobile">
			<div class="col-xs-12 related-articles-row" style="display: flex;overflow-x: auto;">
				{% for post in posts %}
					<div class="col-md-2 related-article">
						{% if post.thumbnail.src %}
							<div class="karmy-posts__img">
								<a href="{{ post.link }}">
									<img data-src="{{ post.thumbnail.src  }}" src="{{ post.thumbnail.src }}"/>
								</a>
							</div>
						{% endif %}
						<div class="karmy-posts__content" style="margin-bottom: 20px;">
							<a class="title" href="{{ post.link }}">{{ post.title }}</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-md-12">
				<div class="line"></div>
				<a class="show-more" href="{{ fields.link }}">{{ fields.link_text }}</a>
			</div>
		</div>
	</div>
</div>