.switch-box{
	display: flex;
	justify-content: center;
	align-items: center;
  margin-left: rem-calc(25);
  line-height: 1;
}

input[type="checkbox"].switch{
	font-size: 15px;
	appearance: none;
	width: rem-calc(41);
	height: rem-calc(22);
	background-color: #C4C4C4;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	transition: all .2s ease-in-out;
  }
  
input[type="checkbox"].switch:checked{
	background-color: #222222;
}

input[type="checkbox"].switch:after{
	position: absolute;
	content: "";
	width: rem-calc(22);
	height: rem-calc(22);
	border-radius: 50%;
	background-color: #222;;
	box-shadow: 0 0 .25em rgba(0,0,0,.3);
	transform: scale(.7);
	left: 0;
	transition: all .2s ease-in-out;
}
  
input[type="checkbox"].switch:checked:after{
  left: calc(100% - 1.5em);
  background-color: #353535;
}

label {
	font-size: 0;
}