.footer {
  padding-top: 35px;
  padding-bottom: 20px;
  border-top: 1px solid #F1F1F1;
  @media screen and (max-width: 1150px) {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .footer__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  p {
    font-weight: normal;
    color: #121212;
    font-size: 13px;
    @media screen and (max-width: 1150px) {
      font-size: 12px;
    }
    a {
      color: #121212;
      transition: all 0.5s;
      &:hover {
        text-decoration: none;
        color: #F4BA27;
      }
    }
  }
  button {
    margin-top: -7px;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    &:focus {
      outline: none;
    }
    path {
      transition: all 0.2s;
    }
    &:hover {
      path {
        fill: #F4BA27;
      }
    }
    svg {
      height: 15px;
      width: 12px;
      margin-bottom: 3px;
      transform: rotate(-90deg);
      position: relative;
      overflow: visible;
      z-index: 1000;
    }
  }
  .footer__logo {
    margin-right: 16px;
    height: auto;
    width: auto;
  }
}