<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__row_brand">
                <p><img class="footer__logo" alt="Logo" src="{{ theme.link }}/dist/images/footer_logo.svg">© {{ "now"|date("Y") }} <a href="{{ site.link }}">Dogfan.pl</a>. All rights reserved</p>
            </div>
            <div class="footer__row_right">
                <button id="topButton"><svg width="12" height="15" viewBox="0 0 12 15">
                <path d="M10.797 6.67523C11.3764 7.07245 11.3764 7.92755 10.797 8.32477L1.56546 14.654C0.901859 15.1089 0 14.6338 0 13.8292L0 1.17082C0 0.366228 0.901861 -0.108923 1.56547 0.346048L10.797 6.67523Z" fill="#EBEBEB"/>
                </svg></button>
            </div>
        </div>
    </div>
</footer>