@charset 'utf-8';

@import '../fonts/theme-font/fonts.css';


@import '../../views/components/**/*.scss';
@import '../../blocks/**/*.scss';
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 1100px,
  lg: 1101px,
  xl: 1140px
);
@import '../../node_modules/bootstrap/scss/bootstrap';
body {
  font-family: 'Montserrat';
}
.main {
  min-height: 100vh;
}
::-moz-selection {
  background-color: #F4BA27;
  color: white;
}
::selection {
  background-color: #F4BA27;
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}
.wp-block-columns {
  margin-bottom: 0;
}
// hero home - block
.admin-bar .hero__dog {
  top: 73px !important;
}
.hero-home {
  height: 657px;
  border-bottom: 1px solid #F1F1F1;
  @media screen and (max-width: 1150px) {
    height: auto;
  }
  .hero__dog {
    position: absolute;
    width: 693px;
    height: 712px;
    left: 50%;
    top: 41px;
    z-index: 2;
    @media screen and (max-width: 1150px) {
      display: none;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 66px;
    line-height: 81px;
    color: #121212;
    margin-top: 160px;
    @media screen and (max-width: 1150px) {
      margin-top: 50px;
      margin-bottom: 40px;
      font-size: 50px;
      line-height: 65px;
    }
    @media screen and (max-width: 700px) {
      margin-top: 50px;
      margin-bottom: 40px;
      font-size: 30px;
      line-height: 38px;
    }
  }
  a {
    text-decoration: none;
  }
  .hero__button {
    width: 355px;
    height: 103px;
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 108px;
    padding: 15px;
    transition: all 0.5s;
    &:hover {
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
    }
    @media screen and (max-width: 1150px) {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
      .button__text {
        margin-left: 20px;
        margin-top: 14px;
        margin-bottom: 14px;
      }
      img {
        height: 73px;
        width: 73px;
        border-radius: 5px;
        @media screen and (max-width: 1150px) {
          width: 60px;
          height: 60px;
          margin-top: 5px;
        }
      }
      h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        text-transform: uppercase;
        color: #121212;
        margin-bottom: 5px;
        &:hover {
          text-decoration: none;
        }
      }
      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 158.47%;
        color: #6D6E71;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// posts home block
.posts-home {
  margin-top: 60px;
  padding-bottom: 58px;
  border-bottom: 1px solid #F1F1F1;
  @media screen and (max-width: 1150px) {
    margin-top: 20px;
    padding-bottom: 35px;
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 76px;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media screen and (max-width: 700px) {
      font-size: 25px;
      line-height: 35px;
    }
  }
  p {
    margin-top: 35px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 16px;
      line-height: 32px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  h5 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 170%;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 13px;
      line-height: 23px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
  .col-md-4:hover {
    .category {
      background: #F4BA27 !important;
    }
  }
  .posts-home__img {
    width: 345px;
    height: 345px;
    border-radius: 5px;
    @media screen and (max-width: 1150px) {
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width: 1090px) {
      width: 100%;
      height: auto;
    }
    a {
      img {
        width: 345px;
        height: 345px;
        border: 1px solid #EBEBEB;
        border-radius: 5px;
        object-fit: cover;
        @media screen and (max-width: 1150px) {
          width: 300px;
          height: 300px;
        }
        @media screen and (max-width: 1090px) {
          width: 100%;
          height: auto;
        }
      }
    }
    .category {
      position: absolute;
      background: #EBEBEB;
      border-radius: 5px;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #121212;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;
      top: 275px;
      left: 40px;
      transition: all 0.3s;
      @media screen and (max-width: 1150px) {
        position: absolute;
        font-size: 11px;
        left: 40px;
        top: initial;
        margin-top: -70px;
      }
    }
  }
  .posts-home__content {
    margin-top: 25px;
    width: 345px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1150px) {
      width: 300px;
    }
    @media screen and (max-width: 1090px) {
      margin-top: 10px;
      width: 100%;
    }
    .title {
      width: 300px;
      font-weight: bold;
      font-size: 21px;
      line-height: 150%;
      color: #121212;
      @media screen and (max-width: 1150px) {
        width: 265px;
        font-size: 17px;
      }
      @media screen and (max-width: 1090px) {
        width: 95%;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .posts-home__date {
    width: 345px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1150px) {
      width: 300px;
    }
    @media screen and (max-width: 1090px) {
      margin-bottom: 20px;
      width: 100%;
    }
    .date {
      margin-top: 20px;
      width: 300px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #121212;
      @media screen and (max-width: 1150px) {
        margin-top: 10px;
        width: 265px;
      }
      @media screen and (max-width: 1090px) {
        width: 95%;
      }
    }
  }
  .btn {
    margin-top: 80px;
    padding-top: 40px;
    padding-left: 40px;
    text-align: left;
    width: 100% !important;
    height: 102px;
    border: 1px solid #EBEBEB;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #121212;
    text-transform: uppercase;
    @media screen and (max-width: 1150px) {
      margin-top: 40px;
      font-size: 17px;
      height: 80px;
      padding-top: 27px;
    }
    @media screen and (max-width: 1090px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-left: 0px;
      margin-top: 10px;
      padding-bottom: 0px;
      height: 60px;
    }
    &:hover {
      background: #F4BA27;
    }
  }
}
// karmy posts block
.karmy-posts {
  margin-top: 50px;
  margin-bottom: 60px;
  @media screen and (max-width: 1150px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media screen and (max-width: 700px) {
      font-size: 25px;
      line-height: 35px;
    }
  }
  p {
    margin-top: 35px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 16px;
      line-height: 32px;
      margin-top: 10px;
      margin-bottom: 0px;
    }

  }
  h5 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 170%;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 13px;
      line-height: 23px;
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }
  .karmy-posts__img {
    height: 210px;
    width: 210px;
    @media screen and (max-width: 1150px) {
      height: 150px;
      width: 150px;
    }
    img {
      height: 210px;
      width: 210px;
      border: 1px solid #EBEBEB;
      border-radius: 5px;
      object-fit: cover;
      @media screen and (max-width: 1150px) {
        height: 150px;
        width: 150px;
      }
    }
  }
  .karmy-posts__content {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    .title {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #121212;
      transition: all 0.2s;
      @media screen and (max-width: 1150px) {
        font-size: 13px;
      }
      &:hover {
        text-decoration: none;
        color: #F4BA27;
      }
    }
  }
  .karmy_posts-desktop {
    @media screen and (max-width: 1150px) {
      display: none;
    }
  }
  .karmy_posts-row-mobile {
    margin-top: 15px;
    @media screen and (min-width: 1150px) {
      display: none;
    }
    .related-articles-row {
      padding-right: 15px;
    }
    .col-md-2 {
      padding-right: 0px;
    }
  }
  .btn-floating {
    border-radius: 150px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 23px;
    padding-left: 23px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    path {
      transition: all 0.2s;
    }
    &:hover {
      path {
        fill: #F4BA27;
      }
    }
  }
  .btn-floating.prev {
    position: absolute;
    z-index: 9;
    top: 75px;
    left: -25px;
  }
  .btn-floating.next {
    position: absolute;
    z-index: 9;
    top: 75px;
    right: -25px;
  }
  .carousel {
    height: 350px;
  }
  .col-lg-2 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 1 0 210px;
    -ms-flex: 1 0 210px;
    flex: 1 0 210px;
    max-width: 210px;
    margin: 0px 8px 0px 8px;
  }
  
  .col-lg-2:hover {
    .title {
      color: #F4BA27;
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: #F1F1F1;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }
  .show-more {
    color: #0875E2;
    font-size: 13px;
    &:hover {
      text-decoration: none;
      color: #0768c9;
    }
  }
}
.carousel-multi-item.v-2.product-carousel .carousel-inner .carousel-item.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%); }
.carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%); }
.carousel-multi-item.v-2.product-carousel .carousel-item-right,
.carousel-multi-item.v-2.product-carousel .carousel-item-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }
.carousel-multi-item.v-2.product-carousel *, .carousel-multi-item.v-2.product-carousel ::after, .carousel-multi-item.v-2.product-carousel ::before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.site-map {
  margin-bottom: 40px;
  border-top: 1px #F1F1F1 solid;
  padding-top: 20px;
  @media screen and (max-width: 1150px) {
    padding-top: 0px;
    margin-bottom: 20px;
  }
  h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 170%;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    
  }
  .site-map__links {
    display: flex;
    flex-direction: column;
    a {
      font-weight: 300;
      font-size: 13px;
      line-height: 270%;
      color: #121212;
      transition: all 0.3s;
      @media screen and (max-width: 1150px) {
        font-size: 12px;
        line-height: 22px;
      }
      &:hover {
        text-decoration: none;
        color: #F4BA27;
      }
    }
  }
}
.blog {
  .posts-wszystkie {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  .posts-archive {
    @media screen and (max-width: 1150px) {
      margin-top: 20px !important;
      padding-bottom: 0px !important;
    }
  }
}
.posts-wszystkie, .posts-karmy, .posts-archive {
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 58px;
  @media screen and (max-width: 1150px) {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .line {
    margin-bottom: 40px;
    margin-top: 40px;
    @media screen and (max-width: 1150px) {
      margin-top: 20px;
    }
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 76px;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  h2 {
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #121212;
    margin-bottom: 30px;
    @media screen and (max-width: 1150px) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 15px;
    }
  }
  p {
    margin-top: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 14px;
      line-height: 24px;
      margin-top: 10px;
    }
  }
  h5 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 170%;
    color: #121212;

  }
  .col-md-4 {
    margin-bottom: 70px;
    @media screen and (max-width: 1150px) {
      margin-bottom: 0px;
    }
  }
  .col-md-4:hover {
    .category {
      background: #F4BA27 !important;
    }
  }
  #all-posts {
    display: none;
  }
  .posts-home__img {
    width: 345px;
    height: 345px;
    border-radius: 5px;
    @media screen and (max-width: 1150px) {
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width: 1090px) {
      width: 100%;
      height: auto;
    }
    a {
      img {
        width: 345px;
        height: 345px;
        border: 1px solid #EBEBEB;
        border-radius: 5px;
        object-fit: cover;
        @media screen and (max-width: 1150px) {
          width: 300px;
          height: 300px;
        }
        @media screen and (max-width: 1090px) {
          width: 100%;
          height: auto;
        }
      }
    }
    .category {
      position: absolute;
      background: #EBEBEB;
      border-radius: 5px;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #121212;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;
      top: 275px;
      left: 40px;
      transition: all 0.3s;
      @media screen and (max-width: 1150px) {
        position: absolute;
        font-size: 11px;
        left: 40px;
        top: initial;
        margin-top: -70px;
      }
    }
  }
  .posts-home__content {
    margin-top: 25px;
    width: 345px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1150px) {
      width: 300px;
    }
    @media screen and (max-width: 1090px) {
      margin-top: 10px;
      width: 100%;
    }
    .title {
      width: 300px;
      font-weight: bold;
      font-size: 21px;
      line-height: 150%;
      color: #121212;
      @media screen and (max-width: 1150px) {
        width: 265px;
        font-size: 17px;
      }
      @media screen and (max-width: 1090px) {
        width: 95%;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .posts-home__date {
    width: 345px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1150px) {
      width: 300px;
    }
    @media screen and (max-width: 1090px) {
      margin-bottom: 30px;
      width: 100%;
    }
    .date {
      margin-top: 20px;
      width: 300px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #121212;
      @media screen and (max-width: 1150px) {
        margin-top: 10px;
        width: 265px;
      }
      @media screen and (max-width: 1090px) {
        width: 95%;
      }
    }
  }
  .btn {
    margin-top: 80px;
    padding-top: 10px;
    padding-left: 40px;
    text-align: left;
    width: 100% !important;
    height: 102px;
    border: 1px solid #EBEBEB;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #121212;
    text-transform: uppercase;
    @media screen and (max-width: 1150px) {
      margin-top: 40px;
      font-size: 17px;
      height: 80px;
      padding-top: 27px;
    }
    @media screen and (max-width: 1090px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-left: 0px;
      margin-top: 20px;
    }
    &:hover {
      background: #F4BA27;
    }
  }
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    &__pages {
      display: flex;
      flex-direction: row;
      width: auto;
      &_page {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #EBEBEB;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px;
        margin-right: 30px;
        transition: all 0.3s;
        @media screen and (max-width: 1150px) {
          height: 30px;
          width: 30px;
          margin-right: 5px;
          padding-top: 6px;
        }
      }
    }
    a:hover {
      text-decoration: none;
      .pagination__pages_page {
        background: #F4BA27;
      }
      .pagination__next {
        background: #F4BA27;
      }
    }
    &__next {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #EBEBEB;
      border-radius: 5px;
      font-weight: bold;
      font-size: 12px;
      transition: all 0.3s;
      @media screen and (max-width: 1150px) {
        height: 30px;
        width: 30px;
      }
    }
    .current {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F4BA27 !important;
      border-radius: 5px;
      font-weight: bold;
      font-size: 12px;
      margin-right: 30px;
      @media screen and (max-width: 1150px) {
        height: 30px;
        width: 30px;
        margin-right: 5px;
        padding-top: 6px;
      }
    }
    .disable {
      opacity: 0.5;
    }
  }
}
#loading {
  display: none;
}
.lds-ring {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 10px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 7px;
  border: 5px solid #F4BA27;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #F4BA27 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.single_article {
  .karmy_title-container {
    max-width: 600px !important;
    padding-left: 15px !important;
    @media screen and (max-width: 1150px) {
      max-width: 540px !important;
    }
    h1 {
      font-size: 56px;
      line-height: 66px;
      @media screen and (max-width: 1150px) {
        font-size: 21px;
      }
    }
  }
  .container {
    max-width: 600px;
    padding-left: 0px;
    @media screen and (max-width: 1150px) {
      max-width: 540px;
      padding-left: 15px;
    }
  }
  .single_article-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: 1150px) {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      max-width: 540px;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #121212;
    margin-top: 30px;
    @media screen and (max-width: 1150px) {
      font-size: 21px;
      line-height: 32px;
      margin-top: 20px;
    }
  }
  .single_article-subtitle {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    @media screen and (max-width: 1150px) {
      margin-top: 10px;
      flex-wrap: nowrap;
      overflow-x: auto !important;
    }
    p {
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #121212;
      @media screen and (max-width: 1150px) {
        font-size: 10px;
        line-height: 12px;
      }
      span {
        font-weight: bold;
        transition: 0.2s;
      }
    }
    p {
      a {
        color: #121212;
        transition: 0.2s;
        @media screen and (max-width: 1150px) {
          width: auto;
        }
        &:hover {
          color: #F4BA27;
        }
      }
    }
    a:hover {
      text-decoration: none;
      p {
        span {
          color: #F4BA27;
        }
      }
    }
    .subtitle1 {
      margin-right: 10px;
      width: auto;
      @media screen and (max-width: 1150px) {
        margin-right: 5px;
        flex: 0 0 auto;
      }
      span {
        margin-right: 10px;
        @media screen and (max-width: 1150px) {
          margin-right: 5px;
        }
      }
    }
    .subtitle2 {
      margin-right: 10px;
      width: auto;
      @media screen and (max-width: 1150px) {
        margin-right: 5px;
        flex: 0 0 auto;
      }
      span {
        margin-right: 10px;
        @media screen and (max-width: 1150px) {
          margin-right: 5px;
        }
      }
    }
    .subtitle3 {
      width: auto;
      @media screen and (max-width: 1150px) {
        flex: 0 0 auto;
      }
    }
  }
  h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #121212;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 1150px) {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 130%;
    color: #121212;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 1150px) {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 170%;
    color: #121212;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 1150px) {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 190%;
    color: #121212;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 1150px) {
      font-size: 15px;
      line-height: 26px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  ul {
    width: 600px;
    padding-left: 15px;
    @media screen and (max-width: 1150px) {
      width: 100%;
      padding-left: 25px;
    }
    li {
      font-weight: 300;
      font-size: 16px;
      line-height: 190%;
      color: #121212;
      padding-left: 5px;
      padding-top: 5px;
      @media screen and (max-width: 1150px) {
        font-size: 15px;
      }
    }
  }
  ol {
    width: 600px;
    padding-left: 15px;
    @media screen and (max-width: 1150px) {
      width: 100%;
    }
    li {
      font-weight: 300;
      font-size: 16px;
      line-height: 190%;
      color: #121212;
      padding-left: 5px;
      padding-top: 5px;
      @media screen and (max-width: 1150px) {
        font-size: 15px;
      }
    }
  }
  a {
    color: #0875E2;
    transition: all 0.2s;
    @media screen and (max-width: 1150px) {
      display: inline;
      width: 100%;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  strong {
    font-weight: bold;
  }
  img {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    max-width: 90vw;
    max-height: 1000px;
    width: auto;
    height: auto;
    object-fit: cover;
    max-width: 1026px;
    @media screen and (max-width: 1150px) {
      margin-top: 15px;
      margin-bottom: 10px;
      width: 100%;
      height: auto;
      max-width: 100vw;
    }
  }
  .single_article-tags {
    margin-top: 30px;
    margin-bottom: 20px;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1150px) {
      margin-top: 10px;
      padding-top: 15px;
      padding-bottom: 10px;
    }
    img {
      border-radius: 0px;
      border: none;
      box-shadow: none;
      width: 20px;
      height: 20px;
      margin-right: 15px;
      @media screen and (max-width: 1150px) {
        width: 15px;
        height: 15px;
      }
    }
    a {
      font-weight: normal;
      font-size: 12px;
      color: #6E6E6E;
      display: inline;
      @media screen and (max-width: 1150px) {
        font-size: 12px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .single_article-bottom {
    .container {
      max-width: 600px;
      @media screen and (max-width: 1150px) {
        max-width: 540px;
      }
    }
    h5 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 16px;
      line-height: 170%;
      color: #121212;

    }
    .col-md-6:hover {
      .category {
        background: #F4BA27 !important;
      }
    }
    .posts-home__img {
    width: 100%;
    height: 345px;
    border-radius: 5px;
    @media screen and (max-width: 1150px) {
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width: 1090px) {
      width: 100%;
      height: 280px;
    }
    a {
      img {
        width: 100%;
        height: 345px;
        border: 1px solid #EBEBEB;
        border-radius: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        object-fit: cover;
        @media screen and (max-width: 1150px) {
          width: 300px;
          height: 300px;
        }
        @media screen and (max-width: 1090px) {
          width: 100%;
          height: 280px;
        }
      }
      .category {
        position: absolute;
        background: #EBEBEB;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #121212;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        top: 275px;
        left: 40px;
        transition: all 0.3s;
        @media screen and (max-width: 1150px) {
          position: absolute;
          font-size: 11px;
          left: 40px;
          top: initial;
          margin-top: -80px;
        }
      }
    }
  }
  .posts-home__content {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1150px) {
      width: 300px;
    }
    @media screen and (max-width: 1090px) {
      margin-top: 10px;
      width: 100%;
    }
    .title {
      width: 90%;
      font-weight: bold;
      font-size: 21px;
      line-height: 150%;
      color: #121212;
      @media screen and (max-width: 1150px) {
        width: 265px;
        font-size: 17px;
      }
      @media screen and (max-width: 1090px) {
        width: 95%;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .posts-home__date {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1150px) {
      width: 300px;
    }
    @media screen and (max-width: 1090px) {
      margin-bottom: 30px;
      width: 100%;
    }
    .date {
      margin-top: 20px;
      width: 90%;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #121212;
      @media screen and (max-width: 1150px) {
        margin-top: 10px;
        width: 265px;
      }
      @media screen and (max-width: 1090px) {
        width: 95%;
      }
    }
  }
    .btn {
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 40px;
      padding-left: 40px;
      text-align: left;
      width: 100%;
      height: 102px;
      border: 1px solid #EBEBEB;
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      color: #121212;
      text-transform: uppercase;
      @media screen and (max-width: 1150px) {
        width: 100% !important;
        font-size: 14px;
        height: 60px;
        margin-top: 10px;
        padding-top: 27px;
      }
      @media screen and (max-width: 1090px) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
        padding-left: 0px;
        margin-top: 0px;
      }
      &:hover {
        background: #F4BA27;
      }
    }
    .comment-notes {
      display: none;
    }
    .replies {
      margin-left: 20px;
    }
    .single_comment-comment {
      border-top: 1px solid #F1F1F1;
      display: flex;
      margin-bottom: 35px;
      @media screen and (max-width: 1150px) {
        margin-bottom: 20px;
      }
      .comment-icon {
        min-width: 81px;
        margin-top: 20px;
        @media screen and (max-width: 1150px) {
          min-width: 60px;
        }
        .avatar {
          width: 50px;
          height: 50px;
          background-color: #6DB0FF;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 21px;
          font-weight: normal;
          padding-top: 1px;
          @media screen and (max-width: 1150px) {
            width: 40px;
            height: 40px;
            font-size: 16px;
          }
        }
      }
      .comment-content {
        min-width: 520px;
        @media screen and (max-width: 1150px) {
          min-width: auto;
        }
        .comment-author {
          font-size: 16px;
          color: #121212;
          margin-bottom: 0px;
          @media screen and (max-width: 1150px) {
            font-size: 13px;
          }
        }
        .comment-date {
          margin-top: 0px;
          font-size: 13px;
          color: #6D6E71;
          @media screen and (max-width: 1150px) {
            font-size: 10px;
            margin-bottom: 0px;
          }
        }
        p {
          width: 520px;
          @media screen and (max-width: 1150px) {
            width: 100%;
            font-size: 13px;
            margin-top: 0px;
          }
        }
        .comment-reply {
          width: 120px;
          height: 40px;
          @media screen and (max-width: 1150px) {
            width: 100px;
            height: 30px;
          }
          a {
            width: 120px;
            height: 40px;
            background: #EBEBEB;
            border-radius: 5px;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            color: #121212;
            transition: 0.4s;
            @media screen and (max-width: 1150px) {
              width: 100px;
              height: 30px;
              font-size: 12px;
            }
            &:hover {
              text-decoration: none;
              background: #F4BA27;
            }
          }
        }
      }
    }
    .comment-respond {
      margin-bottom: 50px;
      @media screen and (max-width: 1150px) {
        margin-bottom: 0px;
      }
      ::placeholder {
        color: #121212;
      }
      h3 {
        font-weight: bold;
        font-size: 21px;
        margin-bottom: 15px;
        @media screen and (max-width: 1150px) {
          font-size: 17px;
          margin-bottom: 5px;
        }
      }
      #commentform {
        border-top: 1px solid #F1F1F1;
      }
      .comment-form-comment {
        margin-top: -15px;
        @media screen and (max-width: 1150px) {
          margin-top: -20px;
        }
        width: 100%;
        textarea {
          resize: none;
          width: 100%;
          height: 178px;
          border-radius: 5px;
          border: 1px solid #EBEBEB;
          padding: 25px;
          @media screen and (max-width: 1150px) {
            padding: 20px;
            height: 150px;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .comment-form-cookies-consent {
        display: none;
      }
      small {
        display: flex;
      }
    }
    .comment-form-fields {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: -40px;
      @media screen and (max-width: 1150px) {
        flex-direction: column;
      }
      .comment-form-author {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding-right: 20px;
        @media screen and (max-width: 1150px) {
          padding-right: 0px;
        }
        input {
          width: 100%;
          height: 64px;
          border: 1px solid #EBEBEB;
          box-sizing: border-box;
          border-radius: 5px;
          padding-left: 25px;
          @media screen and (max-width: 1150px) {
            width: 100%;
            padding-left: 20px;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .comment-form-email {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        align-items: flex-end;
        @media screen and (max-width: 1150px) {
          margin-top: -30px;
        }
        input {
          width: 100%;
          height: 64px;
          border: 1px solid #EBEBEB;
          box-sizing: border-box;
          border-radius: 5px;
          padding-left: 25px;
          @media screen and (max-width: 1150px) {
            width: 100%;
            padding-left: 20px;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .comment-form-url {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        input {
          width: 100%;
          border: 1px solid #EBEBEB;
          box-sizing: border-box;
          border-radius: 5px;
          padding-left: 25px;
          height: 64px;
          @media screen and (max-width: 1150px) {
            padding-left: 20px;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
    .form-submit {
      margin-top: 15px;
      @media screen and (max-width: 1150px) {
        margin-top: 5px;
      }
      input {
        background: #EBEBEB;
        border-radius: 5px;
        border: none;
        height: 40px;
        width: 240px;
        text-transform: uppercase;
        color: #121212;
        font-weight: bold;
        font-size: 14px;
        transition: all 0.3s;
        @media screen and (max-width: 1150px) {
          font-size: 12px;
          height: 60px;
          width: 100%;
          margin-bottom: 20px;
        }
        &:hover {
          background: #F4BA27;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

// hero-karmy
.admin-bar .hero-karmy {
  .hero__dog {
    top: 119px !important;
  }
}
.hero-karmy {
  margin-top: -96px;
  .search-box {
    height: 90px;
    background-color: white;
    width: 565px;
    box-shadow: 0 0.4375rem 1.8125rem 0 rgba(59,53,97,.09);
    display: flex;
    align-items: center;
    transition: all 0.25s;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    margin-top: 50px;
    @media screen and (max-width: 1150px) {
      width: 100%;
      height: 51px;
      margin-top: 30px;
    }
    svg {
      margin-left: 25px;
      @media screen and (max-width: 1150px) {
        height: 20px;
        margin-left: 15px;
      }
    }
    form {
      @media screen and (max-width: 1150px) {
        width: 100%;
      }
      width: 565px;
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
    label {
      width: 100%;
      font-size: 17px;
      @media screen and (max-width: 1150px) {
        font-size: 16px;
      }
    }
    .sf-field-search {
      padding-top: 15px;
      @media screen and (max-width: 1150px) {
        padding-top: 10px;
      }
      input {
        width: 270px;
        @media screen and (max-width: 1150px) {
          width: 100%;
        }
      }
    }
    .sf-field-submit {
      width: 175px;
      height: 55px;
      padding: 0px;
      margin-right: 20px;
      @media screen and (max-width: 1150px) {
        width: 100px;
        height: 40px;
        padding-top: 6px;
        padding-bottom: 0px;
        margin-right: 5px;
      }
      input {
        width: 175px;
        height: 55px;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        border-radius: 5px;
        cursor: not-allowed;
        pointer-events: none;
        background: #ebebeb;
        @media screen and (max-width: 1150px) {
          width: 100px;
          height: 40px;
          font-size: 12px;
        }
      }
    }
    .sf-field-submit.active {
      input {
        background: #F4BA27;
        cursor: pointer;
        pointer-events: inherit;

      }
    }
    input {
      border: none;
      width: 80%;
      &::placeholder {
        color: #C9C9C9;
      }
      &:focus {
        outline: none;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    ul {
      @media screen and (max-width: 1150px) {
        padding-inline-start: 15px;
      }
    }
    
  }
  .search-box:hover {
    box-shadow: 0 0.4375rem 1.8125rem 0 rgba(0, 0, 0, 0.15);
  }
  .search-box.active {
    path {
      fill: #F4BA27;
    }
  }
  .hero-karmy_cover {
    height: 531px;
    background: #F8F8F8;
    border-bottom: 1px solid #F1F1F1;
    @media screen and (max-width: 1150px) {
      height: auto;
      padding-bottom: 20px;
    }
    /*@media screen and (max-width: 1150px) {
      height: auto;
      padding-bottom: 20px;
      background-image: url(../images/dog_hero2.png);
      width: 100%;
      background-size: 300px;
      background-position: 100% 100%;
      background-repeat: no-repeat;
    }
    @media screen and (max-width: 700px) {
      background-position: 200% 100%;
    }*/
    .hero__dog {
      position: absolute;
      top: 86px;
      left: 54%;
      height: 445px;
      @media screen and (max-width: 1150px) {
        display: none;
      }
    }
    .hero-karmy_cover_text {
      margin-top: 250px;
      @media screen and (max-width: 1150px) {
        margin-top: 120px;
      }
      h1 {
        font-size: 66px;
        line-height: 77px;
        font-weight: bold;
        @media screen and (max-width: 1150px) {
          font-size: 21px;
          line-height: 32px;
        }
      }
      p {
        margin-top: 8px;
        font-weight: 300;
        font-size: 16px;
        line-height: 170%;
        color: #121212;
        @media screen and (max-width: 1150px) {
          font-size: 13px;
          margin-top: 6px;
        }
      }
    }
  }
  a {
    width: 100%;
    height: auto;
    &:hover {
      text-decoration: none;
      .hero-karmy_button {
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
      }
    }
    .hero-karmy_button {
      margin-top: 60px;
      height: 103px;
      background-color: white;
      border: 1px solid #F5F5F5;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      display: flex;
      transition: all 0.3s;
      @media screen and (max-width: 1150px) {
        height: 80px;
        margin-top: 20px;
      }
      .hero-karmy_button_img {
        width: 73px;
        height: 73px;
        margin: 15px;
        border-radius: 5px;
        background-color: black;
        @media screen and (max-width: 1150px) {
          height: 50px;
          width: 50px;
        }
        img {
          width: 73px;
          height: 73px;
          border-radius: 5px;
          @media screen and (max-width: 1150px) {
            height: 50px;
            width: 50px;
          }
        }
      }
      .hero-karmy_button_text {
        height: 103px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 1150px) {
          height: 80px;
        }
        h5 {
          font-weight: bold;
          font-size: 21px;
          color: #121212;
          text-transform: uppercase;
          @media screen and (max-width: 1150px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}
//search twig 
.results-page, .karmy-results {
  margin-top: 40px;
  margin-bottom: 40px;
  .line {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 76px;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  p {
    margin-top: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #121212;
    @media screen and (max-width: 1150px) {
      font-size: 14px;
      line-height: 24px;
      margin-top: 10px;
    }
  }
  .col-md-4:hover {
    .title {
      color: #F4BA27 !important;
    }
  }
  .posts-home__img {
    width: 345px;
    height: 345px;
    border-radius: 5px;
    @media screen and (max-width: 1150px) {
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width: 1090px) {
      width: 100%;
      height: 280px;
    }
    a {
      img {
        width: 345px;
        height: 345px;
        border: 1px solid #EBEBEB;
        border-radius: 5px;
        object-fit: cover;
        @media screen and (max-width: 1150px) {
          width: 300px;
          height: 300px;
        }
        @media screen and (max-width: 1090px) {
          width: 100%;
          height: 280px;
        }
      }
      .category {
        position: absolute;
        background: #EBEBEB;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #121212;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        top: 275px;
        left: 40px;
        transition: all 0.3s;
        @media screen and (max-width: 1150px) {
          position: absolute;
          font-size: 11px;
          left: 40px;
          top: initial;
          margin-top: -80px;
        }
      }
    }
  }
  .posts-home__content {
    margin-top: 25px;
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    @media screen and (max-width: 1150px) {
      width: 300px;
    }
    @media screen and (max-width: 1090px) {
      margin-top: 10px;
      width: 100%;
    }
    .title {
      width: 300px;
      font-weight: bold;
      font-size: 21px;
      line-height: 150%;
      color: #121212;
      transition: all 0.3s;
      @media screen and (max-width: 1150px) {
        width: 265px;
        font-size: 17px;
      }
      @media screen and (max-width: 1090px) {
        width: 95%;
      }
      &:hover {
        text-decoration: none;
      }
    }
    p {
      margin-top: 20px;
      width: 300px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #121212;
      @media screen and (max-width: 1150px) {
        margin-top: 10px;
        width: 265px;
      }
      @media screen and (max-width: 1090px) {
        width: 95%;
      }
    }
  }
}

// search-filter pro results
// search block
.search-block {
  margin-top: 45px;
  @media screen and (max-width: 1150px) {
    margin-top: 20px;
  }
  
  .search-box {
    height: 90px;
    background-color: white;
    width: 100%;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    transition: all 0.25s;
    border-radius: 5px;
    @media screen and (max-width: 1150px) {
      height: 51px;
    }
    form {
      width: 100%;
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
    svg {
      margin-left: 30px;
      @media screen and (max-width: 1150px) {
        height: 20px;
        margin-left: 15px;
      }
    }
    label {
      width: 100%;
      font-size: 17px;
      @media screen and (max-width: 1150px) {
        font-size: 13px;
      }
    }
    .sf-field-search {
      padding-top: 15px;
      @media screen and (max-width: 1150px) {
        padding-top: 10px;
      }
      input {
        width: 500px;
        @media screen and (max-width: 1150px) {
          width: 100%;
        }
      }
    }
    .sf-field-submit {
      width: 175px;
      height: 55px;
      padding: 0px;
      margin-right: 20px;
      @media screen and (max-width: 1150px) {
        width: 100px;
        height: 40px;
        padding-top: 1px;
        margin-right: 5px;
      }
      input {
        width: 175px;
        height: 55px;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        border-radius: 5px;
        cursor: not-allowed;
        pointer-events: none;
        background: #ebebeb;
        @media screen and (max-width: 1150px) {
          width: 100px;
          height: 40px;
          font-size: 12px;
        }
      }
    }
    .sf-field-submit.active {
      input {
        background: #F4BA27;
        cursor: pointer;
        pointer-events: inherit;

      }
    }
    input {
      border: none;
      width: 80%;
      &::placeholder {
        color: #C9C9C9;
      }
      &:focus {
        outline: none;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    ul {
      @media screen and (max-width: 1150px) {
        padding-inline-start: 15px;
      }
    }
  }
  .search-box:hover {
    box-shadow: 0 0.4375rem 1.8125rem 0 rgba(0, 0, 0, 0.15);
  }
  .search-box.active {
    path {
      fill: #F4BA27;
    }
  }
}

.page-single {
  .container {
    max-width: 700px;
    @media screen and (max-width: 1150px) {
      max-width: 540px;
    }
  }
  .page_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: 1150px) {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      max-width: 540px;
    }
  }
  .page_title {
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #121212;
    margin-top: 30px;
    @media screen and (max-width: 1150px) {
      font-size: 21px;
      line-height: 32px;
      margin-top: 20px;
    }
  }
  h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 170%;
    color: #121212;
    width: 670px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 1150px) {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 170%;
    color: #121212;
    width: 670px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 1150px) {
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 170%;
    color: #121212;
    width: 670px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 1150px) {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 190%;
    color: #121212;
    width: 670px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 1150px) {
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  ul {
    width: 670px;
    padding-left: 15px;
    @media screen and (max-width: 1150px) {
      width: 100%;
    }
    li {
      font-weight: 300;
      font-size: 16px;
      line-height: 170%;
      color: #121212;
      padding-left: 5px;
      padding-top: 5px;
      @media screen and (max-width: 1150px) {
        font-size: 13px;
      }
    }
  }
  ol {
    width: 670px;
    padding-left: 15px;
    @media screen and (max-width: 1150px) {
      width: 100%;
    }
    li {
      font-weight: 300;
      font-size: 16px;
      line-height: 170%;
      color: #121212;
      padding-left: 5px;
      padding-top: 5px;
      @media screen and (max-width: 1150px) {
        font-size: 13px;
      }
    }
  }
  strong {
    font-weight: bold;
  }
  img {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    @media screen and (max-width: 1150px) {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
}
.akismet_comment_form_privacy_notice {
  @media screen and (max-width: 1150px) {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
.polecane-karmy {
  padding-bottom: 20px;
  h2 {
    margin-bottom: 30px;
    font-weight: bold;
  }
  a {
    font-weight: bold;
    @media screen and (max-width: 1150px) {
      font-size: 13px;
    }
  }
  &__item {
    border-top: 1px solid #F1F1F1;
    padding-top: 20px;
    margin-bottom: 30px;
  }
}
.single_article {
  .polecane-karmy {
    .container {
      max-width: 600px;
      @media screen and (max-width: 1150px) {
        padding: 0px;
      }
    }
  }
  .oceny {
    .container {
      width: 600px;
      @media screen and (max-width: 1150px) {
        padding: 0px;
        max-width: 510px;
      }
    }
  }
}
.oceny {
  &__row {
    display: flex;
    flex-direction: row;
    &__item {
      margin-right: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      p {
        width: auto;
      }
      &__emotka {
        background-color: #F1F1F1;
        height: 50px;
        width: 50px;
        border-radius: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        @media screen and (max-width: 1150px) {
          height: 30px;
          width: 30px;
        }
        span {
          font-size: 30px;
          margin-top: 3px;
          margin-left: 1px;
          @media screen and (max-width: 1150px) {
            font-size: 18px;
            margin-top: 1px;
            margin-left: 5px;
          }
        }
      }
      .active {
        background-color: rgb(101, 218, 101);
      }
    }
  }
}


//rating 
.rmp-widgets-container {
  margin-bottom: -30px !important;
  @media screen and (max-width: 1150px) {
    width: 100%;
  }
}
.rmp-rating-widget {
  display: flex;
  width: 600px;
  @media screen and (max-width: 1150px) {
    width: 100%;
  }
  li {
    padding-left: 0px !important;
    padding-right: 10px !important;
  }
}
.rmp-rating-widget__not-rated {
  display: none;
}
.rmp-rating-widget__hover-text {
  display: none;
}
.rmp-rating-widget__icons-list {
  display: flex;
}
.rmp-rating-widget__icons-list__icon[data-value="1"] {
  [class^="rmp-icon--"]::before, [class*=" rmp-icon--"]::before {
    content: '🙈' !important;
  }
  .rmp-icon--hovered, .rmp-icon--full-highlight {
    background-color: #FB5B5B !important;
  }
  .rmp-icon--half-highlight {
    background: linear-gradient(to right,#FB5B5B 50%,#F1F1F1 50%);
  }
}

.rmp-rating-widget__icons-list__icon[data-value="2"] {
  [class^="rmp-icon--"]::before, [class*=" rmp-icon--"]::before {
    content: '🤔' !important;
  }
  .rmp-icon--hovered, .rmp-icon--full-highlight {
    background-color: #FB8B5B !important;
  }
  .rmp-icon--half-highlight {
    background: linear-gradient(to right,#FB8B5B 50%,#F1F1F1 50%);
  }
}
.rmp-rating-widget__icons-list__icon[data-value="3"] {
  [class^="rmp-icon--"]::before, [class*=" rmp-icon--"]::before {
    content: '😐' !important;
  }
  .rmp-icon--hovered, .rmp-icon--full-highlight {
    background-color: #FBCE5B !important;
  }
  .rmp-icon--half-highlight {
    background: linear-gradient(to right,#FBCE5B 50%,#F1F1F1 50%);
  }
}
.rmp-rating-widget__icons-list__icon[data-value="4"] {
  [class^="rmp-icon--"]::before, [class*=" rmp-icon--"]::before {
    content: '😅' !important;
  }
  .rmp-icon--hovered, .rmp-icon--full-highlight {
    background-color: #7AF494 !important;
  }
  .rmp-icon--half-highlight {
    background: linear-gradient(to right,#7AF494 50%,#F1F1F1 50%);
  }
}
.rmp-rating-widget__icons-list__icon[data-value="5"] {
  [class^="rmp-icon--"]::before, [class*=" rmp-icon--"]::before {
    content: '🔥' !important;
  }
  .rmp-icon--hovered, .rmp-icon--full-highlight {
    background-color: #47D264 !important;
  }
  .rmp-icon--half-highlight {
    background: linear-gradient(to right,#47D264 50%,#F1F1F1 50%);
  }
}

[class^="rmp-icon--"], [class*=" rmp-icon--"] {
  background-color: #F1F1F1;
  height: 101px;
  width: 58px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.2s all ease !important;
  font-size: 1.9rem !important;
  @media screen and (max-width: 1150px) {
    height: 80px;
    width: 100%;
    font-size: 1.4rem !important;
  }
  p {
    width: auto;
    text-align: center;
    font-family: 'Montserrat';
    color: #C4C4C4;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    @media screen and (max-width: 1150px) {
      font-size: 12px;
      padding-top: 0px;
    }
    span {
      color: #6D6E71;
      margin-top: -5px;
    }
  }
}
.rmp-icon--hovered {
  p {
    color: white;
    span {
      color: white;
    }
  }
}
.rmp-icon--full-highlight, .rmp-icon--half-highlight {
  p {
    display: none;
  }
  -webkit-text-fill-color: inherit !important;
}
.rmp--avg--custom {
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #121212;
    width: auto;
    font-family: 'Montserrat';
    margin-bottom: -5px;
    @media screen and (max-width: 1150px) {
      font-size: 18px;
    }
  }
  p {
    width: auto;
    text-align: center;
    font-family: 'Montserrat';
    color: #C4C4C4;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    @media screen and (max-width: 1150px) {
      font-size: 12px;
      padding-top: 0px;
    }
    span {
      color: #6D6E71;
      margin-top: -5px;
    }
  }
}
.rmp-heading--title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 170%;
  color: #121212;
}

.rmp-rating-widget__icons-list {
  @media screen and (max-width: 1150px) {
    display: flex !important;
    li {
      flex-basis: 16.666666%;
    }
  }
}
.rmp-rating-widget__icons {
  @media screen and (max-width: 1150px) {
    width: 100%;
  }
}