@charset 'utf-8';

.only-for-redaction {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  p {
    margin-bottom: -18px;
    margin-top: 0;
  }
}

.acf-block-fields {
  p, ul {
    margin: 0 0 10px !important;
  }
}