<div id="{{ block.id }}" class="hero-home {{ block.className }}" data-easygut-id="herohome">
	<div class="container">
		<img class="hero__dog" alt="Dog" src="{{ theme.link }}/dist/images/dog_hero1.png">
		<div class="row">
			<div class="col-xl-7 col-md-12">
				<h1>{{ fields.title }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-md-12">
				{% if fields.button_left.link %}
					<a href="{{ fields.button_left.link }}">
						<div class="hero__button">
							<div class="row">
								<div class="button__image">
									<img src="{{ fields.button_left.image }}">
								</div>
								<div class="button__text">
									<h5>{{ fields.button_left.title_button }}</h5>
									<p>{{ fields.button_left.small_text }}</p>
								</div>
							</div>
						</div>
					</a>
				{% endif %}
			</div>
			<div class="col-xl-4 col-md-12" style="z-index: 4;">
				{% if fields.button_center.link %}
					<a href="{{ fields.button_center.link }}">
						<div class="hero__button">
							<div class="row">
								<div class="button__image">
									<img src="{{ fields.button_center.image }}">
								</div>
								<div class="button__text">
									<h5>{{ fields.button_center.title_button }}</h5>
									<p>{{ fields.button_center.small_text }}</p>
								</div>
							</div>
						</div>
					</a>
				{% endif %}
			</div>
			<div class="col-xl-4 col-md-12" style="z-index: 4;">
				{% if fields.button_right.link %}
					<a href="{{ fields.button_right.link }}">
						<div class="hero__button">
							<div class="row">
								<div class="button__image">
									<img src="{{ fields.button_right.image }}">
								</div>
								<div class="button__text">
									<h5>{{ fields.button_right.title_button }}</h5>
									<p>{{ fields.button_right.small_text }}</p>
								</div>
							</div>
						</div>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>