<div id="{{ block.id }}" class="posts-home {{ block.className }}" data-easygut-id="postshome">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>{{ fields.title }}</h1>
				<p>{{ fields.subtitle }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h5>{{ fields.posts_text }}</h5>
			</div>
			{% for post in posts %}
				<div class="col-md-4 col-sm-12">
					{% if post.thumbnail.src %}
						<div class="posts-home__img">
							<a href="{{ post.link }}">
								<img data-src="{{ post.thumbnail.src  }}" src="{{ post.thumbnail.src }}"/>
							</a>
							<a href="{{ post.category.link }}">
								<div class="category">{{ post.category.title }}</div>
							</a>
						</div>
					{% endif %}
					<div class="posts-home__content">
						<a class="title" href="{{ post.link }}">{{ post.title }}</a>
					</div>
					<div class="posts-home__date">
						<p class="date">{{ post.date }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if fields.button_text %}
			<div class="row">
				<div class="col-md-12">
					<a class="btn" href="{{ fields.link }}">{{ fields.button_text }}</a>
				</div>
			</div>
		{% endif %}
	</div>
</div>