/* montserrat-regular - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300, 400, 500;
  src: url('Montserrat/montserrat-v15-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Montserrat/montserrat-v15-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Montserrat/montserrat-v15-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Montserrat/montserrat-v15-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('Montserrat/montserrat-v15-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Montserrat/montserrat-v15-latin-ext-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('Montserrat/montserrat-v15-latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('Montserrat/montserrat-v15-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Montserrat/montserrat-v15-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('Montserrat/montserrat-v15-latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('Montserrat/montserrat-v15-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Montserrat/montserrat-v15-latin-ext-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}