.header {
  z-index: 3;
  position: relative;
  padding: 0.7rem 0;
  transform-style: preserve-3d;
  @media screen and (max-width: 1150px) {
    padding: 0.5rem 0;
  }
  .navbar {
    padding: .5rem 0rem;
    @media screen and (max-width: 1150px) {
      padding: 0px;
    }
  }
  .search-button {
    position: absolute;
    right: 0;
  }
  .container {
    position: relative;
  }
  .navbar-toggler {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
    background-color: #EBEBEB;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    z-index: 4 !important;
    @media screen and (min-width: 1150px) {
      display: none !important;
    }
    @media screen and (max-width: 1150px) {
      font-size: 13px;
      height: 35px;
      width: 70px;
    }
    &:focus {
      outline: none !important;
    }
  }
  input[type=text] {
    background: #EBEBEB url(../images/search_icon.svg) no-repeat 12px center;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 55px;
    @media screen and (max-width: 1150px) {
      background: #EBEBEB url(../images/search_icon.svg) no-repeat 14px center;
      background-size: 12px;
      padding: 6px 0px 6px 1px;
      margin-right: 10px;
      z-index: 2;
    }
    @media screen and (max-width: 700px) {
      display: none;
    }
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    margin-right: 20px;
  }
  input[type=text] {
    width: 41px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
  }
  input[type=text]:hover {
    background-color: #EBEBEB;
  }
  input[type=text]:focus {
    width: 170px;
    padding-left: 40px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    outline: none;
    border: 2px solid #EBEBEB;
    @media screen and (max-width: 1150px) {
      z-index: 9999999999;
    }
  }
  input:-moz-placeholder {
    color: transparent;
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
 
}
.navbar-brand {
  @media screen and (max-width: 1150px) {
    svg {
      width: 100px;
      z-index: 0;
      top: 13px;
    }
  }
 
}
.dropdown-menu {
  color: #121212 !important;
  background: #EBEBEB !important;
  border-radius: 5px !important;
  border: none !important;
  margin-top: 20px !important;
  padding-top: 10px !important;
  margin-left: -20px !important;
  a {
    font-style: normal;
    font-weight: 400 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    &:hover {
      text-decoration: underline !important;
      color: #121212 !important;
      background: #EBEBEB !important;
    }
  }
}
.dropdown-menu::before {
  content: '';
  position: absolute;
  left: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px;
  border-color: #EBEBEB transparent transparent #EBEBEB;
  top: -5px;
  border-radius: 6px 0px 0px 0px;
  transform: rotate(45deg);
}
.menu-desktop {
  margin-right: 40px;
  position: relative;
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1150px) {
      display: none;
    }
    li {
      padding-right: 30px;
      a {
        color: #121212;
        transition: all 0.3s;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        @media screen and (max-width: 1150px) {
          font-size: 12px;
        }
        &:hover {
          text-decoration: none;
          color: #F4BA27;
        }
      }
    }
    .current-menu-item {
      a {
        color: #F4BA27;
      }
    }
    .dropdown-menu {
      position: absolute;
    }
    .menu-item-has-children {
      display: none;
    }
    .dropdown {
      display: flex !important;
      justify-content: center;
      align-items: center;
      padding-top: 1px;
      .current-menu-item {
        color: #F4BA27;
      }
      .current-menu-parent {
        color: #F4BA27;
      }
      .menu-item-has-children {
        display: block;
      }
    }
  }
}
.line {
  width: 100%;
  height: 1px;
  background-color: #F1F1F1;
  position: relative;
  z-index: 1;
}
.menu {
  position: absolute;
  background-color: #F4F6F8;
  top: 98px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #F1F1F1;
  visibility: hidden;
  opacity: 0;
  transition:visibility 0.2s linear,opacity 0.2s linear;
  @media screen and (max-width: 1150px) {
    height: auto;
    top: 75px;
  }
  .navbar-nav {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 78px;
    @media screen and (max-width: 1150px) {
      display: none;
    }
    li {
      padding-right: 20px;
      a {
        color: #121212;
        transition: all 0.3s;
        @media screen and (max-width: 1150px) {
          font-size: 12px;
        }
        &:hover {
          text-decoration: none;
          color: #F4BA27;
        }
      }
    }
    .current-menu-item {
      a {
        color: #F4BA27;
      }
    }
  }
  z-index: 99999;
}
.header-row-mobile {
  margin-top: 11px;
  @media screen and (min-width: 1150px) {
    display: none !important;
  }
  .related-articles-row {
    display: flex;
    flex-direction: column;
  }
  .current-menu-item {
    a {
      color: #F4BA27 !important;
    }
  }
  a {
    color: #121212;
    transition: all 0.3s;
    padding-right: 15px;
    @media screen and (max-width: 1150px) {
      font-size: 14px;
    }
    &:hover {
      text-decoration: none;
      color: #F4BA27;
    }
  }
  .col-md-2 {
    padding-right: 0px;
    margin-bottom: 15px;
  }
  .header-mobile-link {
    white-space: nowrap;
  }
  .menu-item-has-children {
    font-weight: bold;
    pointer-events: none;
  }
  .children-mobile-link {
    margin-left: 15px;
  }
}
.menu.active {
  visibility: visible !important;
  opacity: 1 !important;
}
.admin-bar .menu {
  @media screen and (min-width: 1150px) {
    top: 130px;
  }
}
