<div id="{{ block.id }}" class="oceny {{ block.className }}" data-easygut-id="oceny">
	<div class="container">
		<div class="oceny__row">
			<div class="oceny__row__item">
				<div class="oceny__row__item__emotka {% if fields.ocena == 1 %} active {% endif %}">
					{% if fields.emotka_1 %}
						<span>{{ fields.emotka_1 }}</span>
					{% else %}
						<span>&#129326;</span>
					{% endif %}
				</div>
				<p>{{ fields.ocena_1 }}</p>
			</div>
			<div class="oceny__row__item">
				<div class="oceny__row__item__emotka {% if fields.ocena == 2 %} active {% endif %}">
					{% if fields.emotka_2 %}
						<span>{{ fields.emotka_2 }}</span>
					{% else %}
						<span>&#128577;</span>
					{% endif %}
				</div>
				<p>{{ fields.ocena_2 }}</p>
			</div>
			<div class="oceny__row__item">
				<div class="oceny__row__item__emotka {% if fields.ocena == 3 %} active {% endif %}">
					{% if fields.emotka_3 %}
						<span>{{ fields.emotka_3 }}</span>
					{% else %}
						<span>&#128528;</span>
					{% endif %}
				</div>
				<p>{{ fields.ocena_3 }}</p>
			</div>
			<div class="oceny__row__item">
				<div class="oceny__row__item__emotka {% if fields.ocena == 4 %} active {% endif %}">
					{% if fields.emotka_4 %}
						<span>{{ fields.emotka_4 }}</span>
					{% else %}
						<span>&#128522;</span>
					{% endif %}
				</div>
				<p>{{ fields.ocena_4 }}</p>
			</div>
			<div class="oceny__row__item">
				<div class="oceny__row__item__emotka {% if fields.ocena == 5 %} active {% endif %}">
					{% if fields.emotka_5 %}
						<span>{{ fields.emotka_5 }}</span>
					{% else %}
						<span>&#128523;</span>
					{% endif %}
				</div>
				<p>{{ fields.ocena_5 }}</p>
			</div>
		</div>
	</div>
</div>