{% block header %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="{{ function( 'language_attributes' ) }}" > <![endif]-->
<html {{ function( 'language_attributes' ) }}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" href="{{ theme.link }}/dist/fonts/theme-font/fonts.css" as="font" crossorigin="anonymous">
  {{ function( 'wp_head' ) }}
</head>
<body {{ function( 'body_class' ) }}>
<div class="main">
  {% include 'views/components/header/header.twig' %}
  {% endblock %}
    {% block content %}
  {% endblock %}
</div>
{% block footer %}
  {% include 'views/components/footer/footer.twig' %}
  {{ function( 'wp_footer' ) }}
  </body>
</html>
{% endblock %}
