.logo {
  margin-bottom: 20px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.database-form {
  width: 312px;
}
input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
}
input[type="text"] {
  width: 290px;
}
input[type="submit"] {
  background-color: #5361F0;
  border-color: #5361F0;
  color: #fff;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 16px;
  margin-left: auto;
}
.comand-line {
  width: 35%;
  display: none;
}
pre {
  height: 230px;
  overflow-y: scroll;
}
.loading {
  margin: 0 auto;
  display: block;
  margin-top: -30px;
  padding-left: 25px;
  display: none;
}
.disable {
  display: none;
}
.visable {
  display: block;
}

.loading-dots:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}