{% extends "/layouts/base.twig" %}

{% block content %}

<div class="posts-wszystkie">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if param == 'author' %}
                    <h1>{{ post.author }}</h1>
                {% else %}
                    <h1>{{term_page.name}}</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="container">
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 col-sm-12">
                    {% if post.thumbnail.src %}
                        <div class="posts-home__img">
                            <a href="{{ post.link }}">
                                <img class="lazyload" src="{{ post.thumbnail.src }}"/>
                            </a>
                            <a href="{{ post.category.link }}">
                                <div class="category">{{ post.category.title }}</div>
                            </a>
                        </div>
                    {% endif %}
                    <div class="posts-home__content">
                        <a class="title" href="{{ post.link }}">{{ post.title }}</a>
                    </div>
                    <div class="posts-home__date">
                        <p class="date">{{ post.date }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if posts.pagination.prev %}
                <a href="{{posts.pagination.prev.link}}" class="prev">
                    <div class="pagination__next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.25 9H3.75M9 14.25L3.75 9 9 3.75"></path></svg>
                    </div>
                </a>
            {% else %}
                <div class="pagination__next disable">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.25 9H3.75M9 14.25L3.75 9 9 3.75"></path></svg>
                </div>
            {% endif %}
            <div class="pagination__pages">
                {% for page in posts.pagination.pages %}
                    {% if page.link %}
                        <a href="{{page.link}}" class="{{page.class}}">
                            <div class="pagination__pages_page">
                                <p>{{page.title}}</p>
                            </div>
                        </a>
                    {% else %}
                        <div class="pagination__pages_page {{page.class}}">
                            <p>{{page.title}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if posts.pagination.next %}
                <a href="{{posts.pagination.next.link}}" class="next">
                    <div class="pagination__next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.75 9h10.5M9 3.75L14.25 9 9 14.25"></path></svg>
                    </div>
                </a>
            {% else %}
                <div class="pagination__next disable">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.75 9h10.5M9 3.75L14.25 9 9 14.25"></path></svg>
                </div>
            {% endif %}
        </div>
    </div>
</div>    

{% endblock %}
