{% extends "/layouts/base.twig" %}

{% block content %}
    {% if param == 'karmy-dla-psow' %}
        {{ post.content }}	
    {% elseif param == 'karmy' %}
        {{ post.content }}
    {% else %}
        <div class="page-single">
            <div class="container">
                <h1 class="page_title">{{ post.title }}</h1>
            </div>
            <div class="page_container">
                {{ post.content }}
            </div>
        </div>
    {% endif %}
{% endblock %}
