{% extends "/layouts/base.twig" %}

{% block content %}
    <div class="results-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Wyniki wyszukiwania</h1>
                    <p>Mamy dla ciebie <span>{{ posts|length }}</span> wyników dla hasła <span>"{{ search_term }}"</span></p>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="container">
            <div class="row">
                {% for post in posts |slice(0, 12) %}
                    <div class="col-md-4 col-sm-12">
                        {% if post.nrm_image_src.oryginal %}
                            <div class="posts-home__img">
                                <a href="{{ post.link }}">
                                    <img class="lazyload" data-src="{{ post.nrm_image_src.oryginal }}" src="{{ post.nrm_image_src.lqip }}"/>
                                </a>
                            </div>
                        {% endif %}
                        <div class="posts-home__content">
                            <a class="title" href="{{ post.link }}">{{ post.title }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    

{% endblock %}