{% extends "/layouts/base.twig" %}

{% block content %}

    <div class="single_article post-{{ post.id }} {{ page.id }}">
        {% if post.type == 'karmy_mokre' or post.type == 'karmy_suche' %}
        <div class="container karmy_title-container">
        {% else %}
        <div class="container">
        {% endif %}
            <h1>{{ post.title }}</h1>
            <div class="single_article-subtitle">
                <p class="subtitle1">Aktualizacja: <span>{{ post.date }}</span> | </p>
                <p class="subtitle2">Kategoria: <span>
                    {% for category in post.categories %}
                        {% if loop.last %}
                            <a href="{{ category.link }}">{{ category.name }}</a>
                        {% else %}
                            <a href="{{ category.link }}">{{ category.name }},</a>
                        {% endif %}
                    {% endfor %}
                </span> | </p>
                <p class="subtitle3">Autor: <span><a href="{{ post.author.link }}">{{ post.author.name }}</a></span></p>
            </div>
        </div>
        <div class="single_article-container">
            {{ post.content }}
        </div>
        <div class="single_article-bottom">
            <div class="container">
                {% if post.terms('tags') %}
                <div class="single_article-tags">
                    <img alt="tag" src="{{ theme.link }}/dist/images/tag.svg">
                    <div class="text">
                        {% for term in post.terms('tags') %}
                            <a href="{{ term.link }}">{{ term.name }},</a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="single_comment-form">
                    {% if post.comment_count == 0 %}
                        {% else %}
                        <h4>Komentarze </h4>
                    {% endif %}
                    {% for comment in post.comments %}
                        {% include 'views/components/comments/comment.twig' %}
                    {% endfor %}
                    <div class="comment-form-block">
                        {{ function('comment_form') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Warto przeczytać:</h5>
                    </div>
                    {% for post in all_posts %}
                        <div class="col-md-6">
                            {% if post.nrm_image_src.oryginal %}
                                <div class="posts-home__img">
                                    <a href="{{ post.link }}">
                                        <img class="lazyload" data-src="{{ post.nrm_image_src.oryginal }}" src="{{ post.nrm_image_src.lqip }}"/>
                                    </a>
                                    <a href="{{ post.category.link }}">
                                        <div class="category">{{ post.category.title }}</div>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="posts-home__content">
                                <a class="title" href="{{ post.link }}">{{ post.title }}</a>
                            </div>
                            <div class="posts-home__date">
                                <p class="date">{{ post.date }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if post.type == 'karmy_mokre' or post.type == 'karmy_suche' %}
                            <a class="btn" href="{{ site.link }}/karmy-dla-psow">SPRAWDŹ INNE {{ post.type.labels.name }}</a>
                        {% else %}
                            <a class="btn" href="{{ site.link }}/porady-i-ciekawostki">SPRAWDŹ INNE {{ post.type.labels.name }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    {# <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Product",
          "name": "{{post.title}}",
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "{{rating}}",
            "reviewCount": "{{count}}"
          }
        }
    </script> #}
{% endblock %}


