<div id="{{ block.id }}" class="posts-wszystkie {{ block.className }}" data-easygut-id="postswszystkie">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>{{ fields.title }}</h1>
				<p>{{ fields.subtitle }}</p>
			</div>
		</div>
	</div>
	<div class="line"></div>
</div>