<div id="{{ block.id }}" class="search {{ block.className }}" data-easygut-id="search">
	<section class="search-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="search-box">
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M17.0759 17.0926C18.5491 15.6194 19.2857 13.8504 19.2857 11.7857C19.2857 9.72098 18.5491 7.95759 17.0759 6.49554C15.6138 5.02232 13.8504 4.28571 11.7857 4.28571C9.72098 4.28571 7.95201 5.02232 6.4788 6.49554C5.01674 7.95759 4.28571 9.72098 4.28571 11.7857C4.28571 13.8504 5.01674 15.6194 6.4788 17.0926C7.95201 18.5547 9.72098 19.2857 11.7857 19.2857C13.8504 19.2857 15.6138 18.5547 17.0759 17.0926ZM27.8571 25.7143C27.8571 26.2946 27.6451 26.7969 27.221 27.221C26.7969 27.6451 26.2946 27.8571 25.7143 27.8571C25.1116 27.8571 24.6094 27.6451 24.2076 27.221L18.4654 21.4955C16.4676 22.8795 14.2411 23.5714 11.7857 23.5714C10.1897 23.5714 8.66071 23.2645 7.19866 22.6507C5.74777 22.0257 4.49219 21.1886 3.43192 20.1395C2.38281 19.0792 1.54576 17.8237 0.920759 16.3728C0.30692 14.9107 0 13.3817 0 11.7857C0 10.1897 0.30692 8.6663 0.920759 7.2154C1.54576 5.75335 2.38281 4.49777 3.43192 3.44866C4.49219 2.38839 5.74777 1.55134 7.19866 0.9375C8.66071 0.3125 10.1897 0 11.7857 0C13.3817 0 14.9051 0.3125 16.356 0.9375C17.8181 1.55134 19.0737 2.38839 20.1228 3.44866C21.183 4.49777 22.0201 5.75335 22.6339 7.2154C23.2589 8.6663 23.5714 10.1897 23.5714 11.7857C23.5714 14.2411 22.8795 16.4676 21.4955 18.4654L27.2377 24.2076C27.6507 24.6205 27.8571 25.1228 27.8571 25.7143Z" fill="#121212"/>
							</svg>{{ function('do_shortcode', '[searchandfilter slug="search"]') }}
					</div>
				</div>
			</div>
		</div>
		<div class="line mt-5 d-none d-lg-block d-xl-block"></div>
		<div class="line mt-3 d-block d-lg-none d-xl-none"></div>
	</section>
</div>