<div id="{{ block.id }}" class="posts-karmy {{ block.className }}" data-easygut-id="postskarmy">
	<div class="container">
		<div class="row">
			<div class="col-md-12">  
				<h2>{{ fields.title }}</h2>
				<p>{{ fields.subtitle }}</p>
				<h5>{{ fields.title_for_posts }}</h5>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="some-posts">
			<div class="row">
				{% for post in karmy |slice(0, 8) %}
					<div class="col-md-4 col-sm-12">
						{% if post.nrm_image_src.oryginal %}
							<div class="posts-home__img">
								<a href="{{ post.link }}">
									<img class="lazyload" data-src="{{ post.nrm_image_src.oryginal }}" src="{{ post.nrm_image_src.lqip }}"/>
								</a>
							</div>
						{% endif %}
						<div class="posts-home__content">
							<a class="title" href="{{ post.link }}">{{ post.title }}</a>
						</div>
						<div class="posts-home__date">
							<p class="date">{{ post.date }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="lds-ring" id="loading"><div></div><div></div><div></div><div></div></div>
				</div>
			</div>
		</div>
		<div id="all-posts">
			<div class="row">
				{% for post in karmy |slice(8, 9999999999999999999999999) %}
					<div class="col-md-4 col-sm-12">
						{% if post.nrm_image_src.oryginal %}
							<div class="posts-home__img">
								<a href="{{ post.link }}">
									<img class="lazyload" data-src="{{ post.nrm_image_src.oryginal }}" src="{{ post.nrm_image_src.lqip }}"/>
								</a>
							</div>
						{% endif %}
						<div class="posts-home__content">
							<a class="title" href="{{ post.link }}">{{ post.title }}</a>
						</div>
						<div class="posts-home__date">
							<p class="date">{{ post.date }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% if fields.button_text %}
			<div class="row">
				<div class="col-md-12">
					<button class="btn" id="showPosts" href="{{ fields.link }}">{{ fields.button_text }}</button>
				</div>
			</div>
		{% endif %}
	</div>
</div>